.Cars {
  box-sizing: border-box;
  text-align: center;
}

.Cars-header {
  text-align: center;
  font-size: 25px;
}

.Cars-header-span {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: #f1f1f1;
}

.Cars-column {
  float: left;
  width: 20%;
  padding: 10px;
}

.Cars-row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

