@import "../../assets/variables.scss";

.collection {
    overflow: hidden;
    
    &Title {
        padding-bottom: 5px;
        border-bottom: 1px solid #777;
        font-size: 36px;
    }

    &Item {
        border: $border-users;

        img {
            width: 100%;
        }

        &Outer {
            float: left;
            padding: 2rem;
            width: 33.33%;
        }
    }

    &Text {
        padding: 0 20px 20px 20px;
        h4 {
            color: $hover-color;
        }

    }



}

