@import "../../assets/variables.scss";

.about {
    position: relative;
    text-align: center;
    background-color: $header-color;
    img {
        width: $full-screen;
    }
    
    &Header {
        position: absolute;
        bottom: 20%;
        left: 5%;
        font-family: $font-header;
        font-size: 4rem;
    }

    &Text {
        padding: 2rem;
    }

}
