@import "../../assets/variables.scss";

.nav {
    background-color: $primary-color;
    
    &Item {
        margin-left: 3rem;
        
        a {
            color: darken($primary-color, 70%);
            text-decoration: none;
        }
        a:hover {
            color: $hover-color;
        }
    }

    &Right {
        position: relative;
        float: right;  
    }

}