@import "../../assets/variables.scss";

.nav {    
    &Item {
        padding-left: 2rem;
        
        a {
            color: darken($primary-color, 70%);
            text-decoration: none;
        }
    }
}

.menu {
    a:hover, 
    a:focus {
        border-bottom: 2px solid $hover-color;
    }
}