@import "../../assets/variables.scss";

.contacts {
    position: relative;
    background-color: $header-color;
    img {
        width: $full-screen;
    }
    
    &Header {
        position: absolute;
        bottom: 15%;
        right: 5%;
        font-family: $font-header;
        font-size: 4rem;
    }

    &Text {
        padding: 2rem;
    }
}
