@import "../../assets/variables.scss";

.footer {
  flex: 0 0 auto;
  ////position: absolute;
  //bottom: 0;
  padding-top: 1rem;
  height: 5rem;
  width: 100%;
  background-color: $header-color;

  &Container {
    margin-right: 2rem;
    color: darken($primary-color, 45%);
    text-align: right;

    a {
      color: $secondary-color;
    }

    a:hover {
      color: $hover-color;
    }

    i {
      margin-left: 1rem;
    }


    &Text {
      font-size: 14px;
      margin: 0;
    }
  }
}


