@import "../../assets/variables.scss";

.footer {
  width: 100%;
  padding: 20px;
  margin-bottom: 0;
  background-color: $header-color;

  &Container {
    height: 40px;
    color: darken($primary-color, 45%);
    text-align: right;

    a {
      color: $secondary-color;
    }

    a:hover {
      color: $hover-color;
    }

    i {
      margin-left: 1rem;
    }


    &Text {
      font-size: 14px;
      margin: 0;
    }
  }
}


