$font-stack:    Helvetica, sans-serif;
$font-header: Verdana, sans-serif;
$primary-color: #f8f9fa; //rgba(104,143,150,0.3);
$secondary-color: #5c5c5c;
$text-color: #000000;
$hover-color: #bd0000;
$full-screen: 100%;
$border-users: 1px solid #959595;