@import "../../assets/variables.scss";

.login {
    position: relative;
    background-image: url(../../images/blog-login.jpg);
    height: 520px;
    background-position: center;
    background-size: cover;


    &Header {
        font-family: $font-header;
        color: $primary-color;
    }

    &Form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        padding: 16px;
        background-color: white;
        
        input {
            margin: 0.5rem;
        
        }
    }
}

@media only screen and (min-width: 1400px) {
    .login {
        height: 1080px;
    }
}