@import "../../assets/variables.scss";

.team {
    position: relative;
    img {
        width: $full-screen;
    }
    
    &Header {
        position: absolute;
        bottom: 2%;
        right: 8%;
        font-family: $font-header;
    }

    &Text {
        padding: 2rem;
    }
}