@import "../../assets/variables.scss";

.team {
    position: relative;
    background-color: $header-color;
    img {
        width: $full-screen;
    }
    
    &Header {
        position: absolute;
        top: 5%;
        right: 8%;
        font-family: $font-header;
        font-size: 4rem;
        color: white;
    }

    &Text {
        padding: 2rem;
    }
}
