@import "../../assets/variables.scss";

.dishes {
    position: relative;
    text-align: center;
    img {
        width: $full-screen;
    }
    
    &Header {
        position: absolute;
        bottom: 2%;
        right: 7%;
        font-family: $font-header;
        color: $primary-color;
    }
}

.collections {
    overflow: auto;
   }
   .collection-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size: 36px;
   }
   .collection-title small {
    color: #777;
    font-size: 70%;
   }
   .collection-item-outer {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box;
   }
   .collections > div:first-child {
    padding-left: 0;
    padding-right: 10px;
   }
   .collections > div:last-child {
    padding-right: 0;
    padding-left: 10px;
   }
   .collection-item {
    border: 1px solid #959595;
   }
   .collection-item img,
   .collection-item video {
    width: 100%;
   }
   .collection-text {
    padding: 0 20px 20px 20px;
   }
   .collection-text h3 {
    color: yellowgreen;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   }
   .collection-text p {
    height: 80px;
    overflow: hidden;
   }
   .collection-text button {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
   }